<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.winter.app.board.notice.NoticeDAO">
<sql id="forPager">
	<choose>
		<when test="kind=='1'">
		BOARDTITLE
		</when>
		<when test="kind=='2'">
		BOARDCONTENTS
		</when>
		<otherwise>
		BOARDWRITER
		</otherwise>
	</choose>
</sql>

	<select id="getList" resultType="NoticeVO" parameterType="Pager">
		SELECT * FROM NOTICE
		WHERE
			<include refid="forPager"></include>
			LIKE CONCAT('%',#{search},'%')
		ORDER BY BOARDNO  DESC
		LIMIT #{startRow}, #{lastRow}
	</select>
	
	<insert id="add" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="boardNo">
		INSERT INTO NOTICE
		VALUES (NULL, #{boardTitle}, #{boardWriter}, #{boardContents}, NOW(), 0)
	</insert>
	
	<insert id="fileAdd" parameterType="NoticeFileVO">
		INSERT INTO NOTICEFILES
		VALUES (NULL, #{boardNo}, #{fileName}, #{oriName})
	</insert>
	
	<select id="getCount" parameterType="Pager" resultType="Long">
		<bind name="pattern" value="'%'+_parameter.getSearch()+'%'"/>
		SELECT COUNT(BOARDNO) FROM  NOTICE
		WHERE <include refid="forPager"></include>
		LIKE #{pattern}
	</select>
	
	<!-- Detail -->
	<select id="getDetail" parameterType="BoardVO" resultMap="result">
		SELECT N.*, NF.* FROM
		NOTICE N LEFT OUTER JOIN NOTICEFILES NF
		ON (N.BOARDNO=NF.BOARDNO)
		WHERE N.BOARDNO=#{boardNo}
	</select>
	
	<resultMap type="NoticeVO" id="result">
		<id column="BOARDNO" property="boardNo"/>
		<result column="BOARDTITLE" property="boardTitle"/>
		<result column="BOARDWRITER" property="boardWriter"/>
		<result column="BOARDCONTENTS" property="boardContents"/>
		<result column="BOARDDate" property="boardDate"/>
		<result column="BOARDHit" property="boardHit"/>
		
		<collection property="list" javaType="java.util.List" ofType="NoticeFileVO">
			<id column="FILENO" property="fileNo"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</collection>
		
	</resultMap>
	
	<!-- Update 제목, 내용 -->
	<update id="setUpdate" parameterType="BoardVO">
		UPDATE NOTICE SET
		BOARDTITLE=#{boardTitle},
		BOARDCONTENTS=#{boardContents}
		WHERE BOARDNO=#{boardNo}
	</update>
	<!-- 조회수 update -->
	<update id="setHitUpdate" parameterType="BoardVO">
		UPDATE NOTICE SET BOARDHIT=BOARDHIT+1 WHERE BOARDNO=#{boardNo}
	</update>
	
	<!-- Delete -->
	<delete id="setDelete" parameterType="BoardVO">
		DELETE NOTICE WHERE BOARDNO=#{boardNo}
	</delete>
	
	<select id="getFileDetail" parameterType="FileVO" resultType="NoticeFileVO">
		SELECT * FROM NOTICEFILES WHERE FILENO=#{fileNo}
	</select>

</mapper>