<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.winter.app.board.notice.NoticeDAO">
<sql id="forPager">
	<choose>
		<when test="kind=='1'">
			boardTitle 
		</when>
		<when test="kind=='2'">
			boardContents
		</when>
		<otherwise>
			boardWriter
		</otherwise>
	</choose>
</sql>

	<select id="getList" resultType="NoticeVO" parameterType="Pager">
		SELECT * FROM NOTICE
		WHERE
			<include refid="forPager"></include>
			LIKE CONCAT('%',#{search},'%')
		ORDER BY BOARDNO  DESC
		LIMIT #{startRow}, #{lastRow}
	</select>
	
	<insert id="add" parameterType="BoardVO">
		INSERT INTO NOTICE
		VALUES (NULL, #{boardTitle}, #{boardWriter}, #{boardContents}, NOW(), 0)
	</insert>
	
	<select id="getCount" parameterType="Pager" resultType="Long">
		<bind name="pattern" value="'%'+_parameter.getSearch()+'%'"/>
		SELECT COUNT(BOARDNO) FROM  NOTICE
		WHERE <include refid="forPager"></include>
		LIKE #{pattern}
	</select>
	
	<!-- Detail -->
	<select id="getDetail" parameterType="BoardVO" resultType="NoticeVO">
		SELECT * FROM NOTICE WHERE BOARDNO=#{boardNo}
	</select>
	<!-- Update 제목, 내용 -->
	<update id="setUpdate" parameterType="BoardVO">
		UPDATE NOTICE SET
		BOARDTITLE=#{boardTitle},
		BOARDCONTENTS=#{boardContents}
		WHERE BOARDNO=#{boardNo}
	</update>
	<!-- 조회수 update -->
	<update id="setHitUpdate" parameterType="BoardVO">
		UPDATE NOTICE SET BOARDHIT=BOARDHIT+1 WHERE BOARDNO=#{boardNo}
	</update>
	
	<!-- Delete -->
	<delete id="setDelete" parameterType="BoardVO">
		DELETE NOTICE WHERE BOARDNO=#{boardNo}
	</delete>

</mapper>